:local(.bottom) {
  font-size: 0.8em;
  vertical-align: bottom;
}

:local(.center) {
  text-align: center;
}

:local(.bold) {
  font-weight: 700;
}

:local(.blue) {
  color: #1e66d2;
}

:local(.preReset) {
  font-family: 'Times New Roman';
  margin: 0;
}

:local(.gray) {
  color: #a3a3a3;
}

:local(.grayBorder) {
  border-bottom: 0.05em solid #d0d0d0;
}

:local(.green) {
  color: #4bc333;
}

:local(.help:hover) {
  cursor: help;
}

:local(.red) {
  color: #dc143c;
}

:local(.table) {
  background-color: #eaeaea;
  border-radius: 0.5em;
  float: right;
  width: 17em;
}

:local(.underline:hover) {
  text-decoration: underline;
}

:local(.f) {
  cursor: wait;
}

:local(.widthCol1) {
  width: 3em;
}