:local(.list) {
  clear: right;
  float: right;
  list-style-type: none;
  margin-right: 10%;
  width: 17em;
}

:local(.height) {
  margin: 0 0 0.5em 0;
}

:local(.title) {
  color: #dc143c;
  font-size: 1.2em;
}

:local(.desc) {
  font-weight: 700;
}